<div
  class="fixed left-0 top-0 flex h-full w-full items-center justify-center bg-black/50"
>
  <div class="flex flex-col items-center gap-8 rounded-2xl w-full bg-white p-4">
    <div class="flex w-full items-center justify-between">
      <p class="text-2xl font-bold">Answers</p>
      <button
        (click)="close()"
        class="flex items-center justify-center rounded-full border border-red-500 hover:text-red-500"
      >
        <mat-icon fontIcon="close" />
      </button>
    </div>
    <div class="flex flex-col items-center gap-4">
      <p class="text-center text-2xl font-bold">{{ question.name }}</p>
      <div class="flex flex-col items-center">
        @for (answer of question.answers; track $index) {
          <p
            class="text-lg font-bold"
            [ngClass]="{ 'text-green-500': answer.isCorrect }"
          >
            {{ answer.name }}
          </p>
        }
      </div>
    </div>
  </div>
</div>
