<div class="flex h-screen flex-col">
  <div class="h-15 flex w-full items-start">
    <back-button class="white p-2" previousPageName="Main Menu" />
  </div>
  <form
    class="flex flex-1 flex-grow flex-col items-center justify-center gap-10"
  >
    <div class="flex flex-col gap-6">
      <div class="flex flex-col gap-1">
        <label class="text-white md:text-xl">Username</label>
        <input class="input bg-white/50" type="text" />
      </div>
      <div class="flex flex-col gap-1">
        <label class="text-white md:text-xl">Email</label>
        <input class="input bg-white/50" type="email" />
      </div>
      <div class="flex flex-col gap-1">
        <label class="text-white md:text-xl">Password</label>
        <input class="input bg-white/50" type="password" />
      </div>
      <div class="flex flex-col gap-1">
        <label class="text-white md:text-xl">Confirm Password</label>
        <input class="input bg-white/50" type="password" />
      </div>
    </div>
    <div class="flex flex-col items-center gap-4">
      <button class="btn login-btn">Sign Up</button>
      <div>
        <p class="text-white md:text-xl">
          Already have an account?
          <a
            class="cursor-pointer font-bold transition-all duration-200 hover:text-amber-300"
            routerLink="/login"
          >Sign in</a
          >
        </p>
      </div>
    </div>
  </form>
</div>
