<div class="absolute flex items-center justify-center w-full h-full top-0 left-0 bg-black/50">
  <div class="bg-white rounded-2xl p-4 flex flex-col gap-8 items-center">
    <div class="flex items-center justify-between w-full">
      <p class="text-2xl font-bold">{{title}}</p>
      <button (click)="close()" class="hover:text-red-500 border border-red-500 rounded-full flex items-center justify-center"><mat-icon fontIcon="close" /></button>
    </div>
    <div class="flex flex-col gap-4 items-center">
      <p class="text-xl font-bold text-center">Are you sure you want to delete '{{ quizName }}'?</p>
      <div class="flex items-center gap-4">
        <button (click)="close()" class="btn tertiary-btn">No</button>
        <button (click)="confirm()" class="btn warning-btn">Yes</button>
      </div>
    </div>
  </div>
</div>
