<div class="flex h-screen flex-col">
  <div class="h-15 flex w-full items-start">
    <back-button class="white p-2" previousPageName="Main Menu" />
  </div>
  <div class="flex-grow justify-center items-center flex gap-10 flex-col">
    <router-outlet />
    <div class="flex flex-col gap-4 items-center text-white">
      <p class="md:text-xl">Or use one of the following providers:</p>
      <div class="flex items-center justify-center w-full gap-4 md:gap-10">
        <img alt="" class="xs:max-md:h-6 cursor-pointer hover:scale-125 transition-all duration-200" height="40"
             ngSrc="assets/facebook.svg"
             width="40" />
        <img alt="" class="xs:max-md:h-6 cursor-pointer hover:scale-125 transition-all duration-200" height="40"
             ngSrc="assets/google.svg"
             width="40" />
        <img alt="" class="xs:max-md:h-6 cursor-pointer hover:scale-125 transition-all duration-200" height="40"
             ngSrc="assets/github.svg"
             width="40" />
        <img alt="" class="xs:max-md:h-6 cursor-pointer hover:scale-125 transition-all duration-200" height="40"
             ngSrc="assets/microsoft.svg"
             width="40" />
        <img alt="" class="xs:max-md:h-6 cursor-pointer hover:scale-125 transition-all duration-200" height="40"
             ngSrc="assets/twitter.svg"
             width="40" />
      </div>
    </div>
  </div>
</div>
